body {
    background-color: rgba(50,50,50);
    width: 1894px;
    font-family: 'Roboto Slab';
	letter-spacing: 3px;
	color: white;
	padding-bottom: 100px;
}

.home {
	position: sticky;
	top: 20px;
	margin-left: 15px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
	font-family: 'Roboto Slab';
}

.home:hover {
	background-color: #005580;
}

.header {
	margin: 50px auto auto 597px;
	width: 700px;
	font-size: 48px;
	text-align: center;
	/*background-color: #000000;*/
}

.quarter {
	margin: 15px auto auto 233px;
	width: 235px;
	font-size: 24px;
	/*background-color: #000000;*/
}

.first {
	width: 1594px;
	height: 300px;
	margin: 75px auto auto 150px;
	font-size: 18px;
	line-height: 30px;
	/*background-color: #000000;*/
}

.second {
	width: 1594px;
	margin: auto auto auto 150px;
	font-size: 18px;
	line-height: 30px;
	/*background-color: #000000;*/
}

.third {
	width: 1594px;
	margin: 0px auto auto 150px;
	font-size: 18px;
	line-height: 30px;
}

.bluerov2_pic {
	width: 500px;
	border: solid 3px #00ccff;
}

.bluerov2_caption {
	font-size: 12px;
	line-height: 12px;
	width: 600px;
}

.text1 {
	margin-top: 25px;
	width: 1000px;
	float: right;
}

.text2 {
	margin: 40px auto 50px auto;
}

.stack {
	width: 700px;
	border: solid 3px #00ccff;
}

.hardware {
	width: 700px;
	border: solid 3px #00ccff;
	float: right;
}

.diagram_caption {
	font-size: 12px;
	line-height: 12px;
	width: 800px;
	margin-top: 20px;
	text-align: right;
}

.text3 {
	margin: 55px auto auto auto;
}

.demo {
	width: 960px;
	height: 540px;
	margin: 50px auto 50px 467px;
	border: solid 3px #00ccff;
}