body {
    background-color: rgba(50,50,50);
    width: 1894px;
    font-family: 'Roboto Slab';
	letter-spacing: 3px;
	color: white;
	padding-bottom: 100px;
}

.home {
	position: sticky;
	top: 20px;
	margin-left: 15px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
	font-family: 'Roboto Slab';
}

.home:hover {
	background-color: #005580;
}

.header {
	margin: 50px auto auto 782px;
	width: 330px;
	font-size: 48px;
	/*background-color: #000000;*/
}

.quarter {
	margin: 15px auto auto auto;
	width: 126px;
	font-size: 24px;
	/*background-color: #000000;*/
}

.video {
	margin: 50px auto auto 473px;
}

.group {
	margin: 50px auto auto auto;
	font-size: 18px;
	width: 942px;
	/*background-color: #000000;*/
}

.text {
	margin: 50px 12% auto 12%;
	font-size: 18px;
	line-height: 30px;
}