body {
    background-color: rgba(50,50,50);
    width: 1912px;
    font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	color: white;
}

.header {
	margin: 100px auto auto 42%;
	width: 25%;
	font-size: 48px;
}

/*.testbox {
	width: 960px;
	height: 540px;
	background-color: #ffffff;
	margin: 25px auto auto auto;
}*/

.video {
	margin: 50px auto auto 24.5%;
}