body {
	background-color: #404040;
    width: 1894px;
    font-family: 'Roboto Slab';
	font-size: 24px;
	letter-spacing: 3px;
	color: white;
	padding-bottom: 100px;
}

.heading {
	margin: 75px auto auto auto;
	width: 690px;
}

.photo {
	width: 200px;
	border-radius: 50%;
}

.basics {
	margin-top: 25px;
	line-height: 40px;
	float: right;
}

.ghpg {
	margin-top: 15px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-family: 'Roboto Slab';
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
}
.ghpg:hover {
	background-color: #005580;
}

.resume {
	margin-top: 15px;
	margin-left: 50px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-family: 'Roboto Slab';
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
}
.resume:hover {
	background-color: #005580;
}

.bg1 {
	margin-top: 50px;
	margin-left: -6px;
	width: 1900px;
	height: 1000px;
	background-color: #ccf5ff;
}

.proj {
	margin: 0px auto auto 809px;
	width: 275px;
	font-size: 64px;
	color: #404040;
	/*background-color: #000000;*/
}

.bluerov {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: -440px;
}

.bluerovthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.bluerovthumbtext {
	position: absolute;
	top: 33%;
	left: 10px;
	color: black;
	font-size: 24px;
	opacity: 0;
	width: 280px;
	text-align: center;
	/*background-color: #000000;*/
}

.bluerov:hover .bluerovthumb {
  opacity: 0.2;
}

.bluerov:hover .bluerovthumbtext {
  opacity: 1;
}

.mbari {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: -15px;
}

.mbarithumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.mbarithumbtext {
	position: absolute;
	top: 27%;
	left: 10px;
	color: black;
	font-size: 24px;
	opacity: 0;
	width: 280px;
	text-align: center;
	/*background-color: #000000;*/
}

.mbari:hover .mbarithumb {
  opacity: 0.2;
}

.mbari:hover .mbarithumbtext {
  opacity: 1;
}

.uuvsim {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 410px;
}

.uuvsimthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.uuvsimthumbtext {
	position: absolute;
	top: 27%;
	left: 32px;
	color: white;
	font-size: 24px;
	opacity: 0;
	width: 236px;
	text-align: center;
	/*background-color: #000000;*/
}

.uuvsim:hover .uuvsimthumb {
  opacity: 0.3;
}

.uuvsim:hover .uuvsimthumbtext {
  opacity: 1;
}

.pong {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 425px;
	margin-left: -440px;
}

.pongthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.pongthumbtext {
	position: absolute;
	top: 40%;
	left: 12%;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.pong:hover .pongthumb {
  opacity: 0.3;
}

.pong:hover .pongthumbtext {
  opacity: 1;
}

.enigma {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 425px;
	margin-left: -15px;
}

.enigmathumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.enigmathumbtext {
	position: absolute;
	top: 35%;
	left: 0%;
	color: black;
	font-size: 32px;
	text-align: center;
	opacity: 0;
}

.enigma:hover .enigmathumb {
  opacity: 0.3;
}

.enigma:hover .enigmathumbtext {
  opacity: 1;
}

.tank {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 425px;
	margin-left: 410px;
}

.tankthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.tankthumbtext {
	position: absolute;
	top: 40%;
	left: 26%;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.tank:hover .tankthumb {
  opacity: 0.2;
}

.tank:hover .tankthumbtext {
  opacity: 1;
}

.aboutme {
	margin: 0px auto auto 842px;
	width: 210px;
	font-size: 36px;
	color: #00ccff;
	/*background-color: #000000;*/
}

.abouttext {
	font-size: 18px;
	width: 1000px;
	margin-top: 50px;
	margin-left: -405px;
	color: #ffffff;
	line-height: 30px;
	/*background-color: #000000;*/
}