body {
    background-color: rgba(50,50,50);
    width: 1894px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	letter-spacing: 3px;
	color: white;
	padding-bottom: 750px;
}

.heading {
	margin: 75px auto auto auto;
	width: 35%;
}

.fsgp {
	width: 200px;
	border-radius: 50%;
}

.basics {
	margin-top: 25px;
	line-height: 40px;
	float: right;
}

.ghpg {
	margin-top: 15px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
}
.ghpg:hover {
	background-color: #005580;
}

.resume {
	margin-top: 15px;
	margin-left: 50px;
	background-color: #00ccff;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	transition-duration: 0.2s;
	border: 3px solid #00ccff;
}
.resume:hover {
	background-color: #005580;
}

.proj {
	margin: 150px auto auto auto;
	width: 6.5%;
	font-size: 36px;
}

.pong {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: -500px;
}

.pongthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.pongthumbtext {
	position: absolute;
	top: 40%;
	left: 12%;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.pong:hover .pongthumb {
  opacity: 0.3;
}

.pong:hover .pongthumbtext {
  opacity: 1;
}

.tank {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: -75px;
}

.tankthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.tankthumbtext {
	position: absolute;
	top: 40%;
	left: 26%;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.tank:hover .tankthumb {
  opacity: 0.3;
}

.tank:hover .tankthumbtext {
  opacity: 1;
}

.rccar {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-top: 50px;
	margin-left: 350px;
}

.rccarthumb {
  display: block;
  width: 300px;
  border-radius: 20%;
}

.rccarthumbtext {
	position: absolute;
	top: 40%;
	left: 19%;
	color: white;
	font-size: 32px;
	opacity: 0;
}

.rccar:hover .rccarthumb {
  opacity: 0.3;
}

.rccar:hover .rccarthumbtext {
  opacity: 1;
}